body {
    margin: 0 auto;
    max-width: 1200px;
}

footer {
    background: no-repeat url("hmi-lab.svg");
    height: 50px;
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}

.tab-content > .active {
    margin-top: 3em;
}

.navbar-brand {
    font-size: 12px;
    padding: 15px 0px;
}